body {
  background-color: rgb(179, 179, 221);
}
.App {
  background-color: rgb(248, 250, 246);
  min-height: 600px;
  width: 600px;
  margin: 40px auto;
  font-weight: 100px;
  border-style: 0px 20px;
  /* border: 20px 0px 20px 0px; */
  border-radius: 100px 0px 100px 0px;
}
#to-do-form input {
  background-color: rgb(240, 80, 186);
  border: 60px;
  width: 400px;
  height: 60px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: #fff;
}
#to-do-form input::placeholder {
  color: beige;
}
#to-do-form input:focus,
#to-do-form button:focus {
  outline: none;
}
#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0px;
  background-color: rgb(15, 15, 15);
  cursor: pointer;
  font-weight: bolder;
  color: #fff;
}
div header h1 {
  text-align: center;
  font-style: italic;
  text-decoration: rgb(145, 47, 226);
  font-size: 40px;
}
